<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" version="2.5">

 <display-name>INAT</display-name>
 
<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>

 <filter>
    <filter-name>struts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
 </filter>
 
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 
 <icon>
      <small-icon>
            /INAT2015/images/ncralogo.jpg
      </small-icon>
</icon>
 
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 
<error-page>
    <error-code>404</error-code>
    <location>/pagesfcd684a6005043f00affad06ba8c67524e26e85745254/Errors/error404.jsp</location>
</error-page>

<error-page>
       <exception-type>java.lang.NullPointerException</exception-type>
       <location>/pagesfcd684a6005043f00affad06ba8c67524e26e85745254/Errors/Timeout.jsp</location>
</error-page>

<session-config>
     <session-timeout>45</session-timeout>
</session-config>

<mime-mapping> 
    <extension>woff</extension>
    <mime-type>application/x-woff</mime-type> 
</mime-mapping>
     
</web-app>
