input, textarea {
	background: #FFFFFF url(../images/img09.gif) repeat-x;
	border: 1px solid #FFFFFF;
	border-left-color: #D6D6D6;
	font: normal 1em/normal "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #250517;
}


.label {font-style:normal; }
.errorLabel {font-style:italic; color:red; }
.errorMessage {font-weight:bold; color:red; }
.checkboxLabel {}
.checkboxErrorLabel {color:red; }
.required {color:red;}
.tdLabel {text-align:justify; vertical-align:top; }

/* CDCFD2 ECECEC F4F2F1 F8F8FF F1EEF6 F2EEEE*/
table.wwFormTable {	
border-width: 1.75px;
border-color:#CDCFD2;
border-style: solid;
}
table.wwFormTable th {
}table.wwFormTable tr td { background-color: #F4F2F1;
margin: 5px;
padding: 11.5px;
}.tdLabel {
font-weight: normal;
align: top;
}
.label { }.errorMessage { color: red;
font-size: 0.9em;
}

/****************************************************Button CSS**********************************************/
/* The Submit button */
#submit {
	background: url(../images/Buttons/GreyButton.png) no-repeat;
	border: none;
	float: right;
	margin-left: 5px;
	height: 31px;
	width: 74px;
	color: #fff;
}

#submit:hover
  { 
    background: url(../images/Buttons/BlueButton.png) no-repeat;
  }
